<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-slides autoplay="3000" pager>
      <ion-slide *ngFor="let i of [1,2,3,4]">
        <img src="./assets/imgs/{{i}}.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <img style="margin-top: 10px;" src="./assets/imgs/banner.jpg">

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let i of [1,2,3,4]">
          <ion-card no-padding>
            <img src="./assets/imgs/{{i}}.jpg" />
            <h1 padding center> Product {{i}} </h1>
            <p padding center>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let i of [1,2,3,4]" text-wrap (click)="openProductsPage(i)">
      <ion-thumbnail item-left>
        <img src="./assets/imgs/{{i}}.jpg" />
      </ion-thumbnail>
      <h2>Product {{i}}</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      <p>P{{i}}00</p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
