<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="primary"></ion-icon>
    </button>
    <ion-title color="primary">Oh Pair!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <img style="margin-top: 10px;" src="https://i.makeagif.com/media/3-17-2016/Jfn9dG.gif">

  <ion-card class="home-large-banner">
    <ion-slides autoplay="5000" pager>
      <ion-slide *ngFor="let banner of banners">
        <img class="banner-image" src="{{ banner }}" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides>
        <ion-slide *ngFor="let product of products" (click)="openProductsPage(product.id)">
          <ion-card no-padding>
            <img *ngIf="product.image_url" [src]="product.image_url" />
            <h1 padding center class="name-label"> {{ product.brand.name }} {{ product.name }} </h1>
            <p padding center>{{ product.description }}</p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let product of products" text-wrap (click)="openProductsPage(product.id)">
      <ion-thumbnail item-left>
        <img *ngIf="product.image_url" [src]="product.image_url" />
      </ion-thumbnail>
      <h2 class="name-label">{{ product.brand }} {{ product.product_name }}</h2>
      <p>{{ product.short_desc }}</p>
      <p>₱{{ product.price }}</p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
