<ion-header>
  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <form [formGroup]="orderForm">
    <ion-list>
      <ion-item-divider color="primary" outline>Personal Details</ion-item-divider>

      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input disabled="true" type="text" formControlName="first_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input disabled="true" type="text" formControlName="last_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input disabled="true" type="email" formControlName="email" (blur)="checkEmail()"></ion-input>
      </ion-item>

      <ion-item-divider color="primary" outline>Shipping Address</ion-item-divider>

      <ion-item>
        <ion-label>Address</ion-label>
        <ion-textarea type="text" maxlength="80" formControlName="s_address"></ion-textarea>
      </ion-item>

      <div class="error-message"
        *ngIf="orderForm.get('s_address').errors?.required && orderForm.get('s_address').touched">
        Address is required.
      </div>

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select formControlName="s_country">
          <ion-option value="PH" selected="true">Philippines</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message"
        *ngIf="orderForm.get('s_country').errors?.required && orderForm.get('s_country').touched">
        Country is required.
      </div>

      <ion-item>
        <ion-label>Province</ion-label>
        <ion-select formControlName="s_province">
          <ion-option value="Nueva Ecija" selected="true">Nueva Ecija</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message"
        *ngIf="orderForm.get('s_province').errors?.required && orderForm.get('s_province').touched">
        Province is required.
      </div>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-select formControlName="s_city">
          <ion-option value="Lupao" selected="true">Lupao</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message" *ngIf="orderForm.get('s_city').errors?.required && orderForm.get('s_city').touched">
        City is required.
      </div>

      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="text" formControlName="s_phone"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="orderForm.get('s_phone').errors?.required && orderForm.get('s_phone').touched">
        Phone is required.
      </div>

      <ion-item-divider color="primary" outline>Payment Details</ion-item-divider>

      <ion-item>
        <ion-label>Payment Method</ion-label>
        <ion-select formControlName="payment_method">
          <ion-option *ngFor="let p of paymentMethods" value="{{ p.method_id }}">{{ p.method_title }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="danger">Note: Delivery may take 5-7 business days.</ion-label>
      </ion-item>

    </ion-list>
  </form>

</ion-content>

<ion-footer>
  <button type="submit" ion-button block color="primary" (click)='checkout()'>Place Order</button>
</ion-footer>
