<ion-header>
  <ion-navbar>
    <ion-title> Product {{imageIndex}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-slides #productSlides autoplay="3000" pager>
      <ion-slide  *ngFor="let imageUrl of product.imageUrls">
        <img class="product-detail-image" src="{{ imageUrl }}" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ product.brand.name }} {{ product.name }} &nbsp;
        <ion-chip style="margin-left: 5px;">
          <ion-label color="danger"> {{ product.category }} </ion-label>
        </ion-chip>
      </ion-card-title>

      <p>
        {{ product.description }}
      </p>

      <button ion-button icon-left block outline color="danger">
        <ion-icon name="basket"></ion-icon> Add to cart
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Product Information
      </ion-card-title>

      <ion-grid>

        <ion-row *ngFor="let spec of product.specs">
          <span padding>  • {{ spec }} </span>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
