<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <form [formGroup]="userForm">
    <ion-list>
      <ion-item-divider color="primary">Personal Details</ion-item-divider>

      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="text" formControlName="first_name"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('first_name').errors?.required && userForm.get('first_name').touched">
        First Name is required.
      </div>

      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('last_name').errors?.required && userForm.get('last_name').touched">
          Last Name is required.
        </div>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('email').errors?.required && userForm.get('email').touched">
          Email is required.
        </div>

      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input automplete="off" type="text" formControlName="username"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('username').errors?.required && userForm.get('username').touched">
          Username is required.
        </div>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input autocomplete="new-password" type="password" formControlName="password"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('password').errors?.required && userForm.get('password').touched">
          Password is required.
      </div>

      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('confirm_password').errors?.required && userForm.get('confirm_password').touched">
          Confirm Password is required.
        </div>

      <ion-item-divider color="primary">Shipping Address</ion-item-divider>

      <ion-item>
        <ion-label>Address</ion-label>
        <ion-textarea type="text" maxlength="80" formControlName="s_address"></ion-textarea>
      </ion-item>
      
      <div class="error-message" *ngIf="userForm.get('s_address').errors?.required && userForm.get('s_address').touched">
          Address is required.
        </div>

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select formControlName="s_country">
          <ion-option value="PH" selected="true">Philippines</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('s_country').errors?.required && userForm.get('s_country').touched">
          Country is required.
        </div>

      <ion-item>
        <ion-label>Province</ion-label>
        <ion-select formControlName="s_province">
          <ion-option value="Nueva Ecija" selected="true">Nueva Ecija</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('s_province').errors?.required && userForm.get('s_province').touched">
          Province is required.
        </div>

      <ion-item>
        <ion-label>City</ion-label>
        <ion-select formControlName="s_city">
          <ion-option value="Lupao" selected="true">Lupao</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('s_city').errors?.required && userForm.get('s_city').touched">
          City is required.
        </div>

      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="text" formControlName="s_phone"></ion-input>
      </ion-item>

      <div class="error-message" *ngIf="userForm.get('s_phone').errors?.required && userForm.get('s_phone').touched">
          Phone is required.
        </div>

    </ion-list>
  </form>

</ion-content>

<ion-footer>
  <button type="submit" ion-button block color="primary" (click)='signup()'>Sign Up</button>
</ion-footer>
